.container {
    width: 1296px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
}

.chat_icon-btn {
    position: fixed;
    top: 700px;
    right: 28px;
    background-image: url(../images/chat_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: #10BBD5;
    border-radius: 50%;
    padding: 32px;
    z-index: 999;
}

.header_bars {
    position: fixed;
    z-index: 999;
    width: 100%;
}

.header_primary-bar {

    background-color: #10BBD5;

}

.primary_bar-wrapper {
    display: flex;
    justify-content: space-between;
}

.header_primary-logo {
    padding-top: 22px;
    padding-bottom: 22px;
}

.header_logo {
    background-image: url(../images/logo.png);
    padding: 14px 66px 14px 66px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
}

.header_primary-cart {
    display: flex;
    gap: 8px;
}

.header_primary-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #F8FDFE;
    margin-top: 20px;
}

.header_primary-btn {
    background-image: url(../images/cart_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    border: none;
    background-color: #10BBD5;
}

.header_secondary-bar {
    background-color: #fff;
}

.secondary_bar-wrapper {
    display: flex;
    justify-content: space-between;
}

.secondary_bar-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: sans-serif;
}

.secondary_bar-list {
    display: flex;
    gap: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.secondary_bar-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
}

.main {
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #eeeeef;
}

.main_title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: #1f1f1f;
    padding-top: 32px;
    padding-bottom: 23px;
    border-bottom: 1px solid #A8A8A8;
}

.main_goods-cards {
    display: grid;
    margin-top: 24px;
    gap: 24px;
    grid-template-areas: 'card card card card';
}

.goods_item {
    border: 1px solid #A8A8A8;
    background-color: #fff;
    position: relative;
}

.absolute-hit {
    position: absolute;
    top: 32px;
    left: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #F8FDFE;
    padding: 4px 8px 4px 8px;
    background-color: #4200FF;
    border-radius: 5px;
}

.absolute-new {
    position: absolute;
    top: 32px;
    left: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #F8FDFE;
    padding: 4px 8px 4px 8px;
    background-color: #AF39E7;
    border-radius: 5px;
}

.absolute-off {
    position: absolute;
    top: 32px;
    left: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #F8FDFE;
    padding: 4px 8px 4px 8px;
    background-color: #EA33C0;
    border-radius: 5px;
}

.off10 {
    left: 72px;
}

.off11 {
    left: 83px;
}

.off20 {
    left: 32px;
}

.goods_item-wrapper {
    padding: 32px;
}

.goods_item-img {
    width: 178px;
    height: 280px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
}

.goods_item-title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #1f1f1f;
}

.goods_item-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8e8e8e;
    border-top: 1px solid #8e8e8e;
    padding-bottom: 8px;
}

.goods_item-price {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #e90000;
    padding-bottom: 16px;
}

.goods_item-price_crossed {
    position: absolute;
    left: 130px;
    bottom: 90px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #8E8E8E;
    text-decoration: line-through;
}

.goods_item-btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #F8FDFE;
    background-color: #4C394E;
    padding-top: 8px;
    padding-left: 71px;
    padding-right: 71px;
    padding-bottom: 8px;
    border: 1px solid #4C394E;
    border-radius: 5px;
}

.goods_item-btn_endUp {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #F8FDFE;
    background-color: #4D762D;
    padding-top: 8px;
    padding-left: 94px;
    padding-right: 94px;
    padding-bottom: 8px;
    border: 1px solid #4D762D;
    border-radius: 5px;
}

.footer {
    background-color: #4C394E;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #F8FDFE;
    padding-top: 32px;
    padding-bottom: 32px;
}

